*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 300px;
    width: 300px;
    background: blue;
    text-align: center;
}
@media screen and (max-width: 200px) { /* and (orientation: landscape)*/ 
    div{
    background: red;
    height: 200px;
    width: 200px;
    }
}